/**
 * Variables
 */
:root {
    /* size converter */
    --size-base: 0.8333vw;

	/* font family */
    --font-primary: 'Manrope', sans-serif;

    /* font weight */
    --weight-light: 400;
    --weight-regular: 600;
    --weight-bold: 700;
    --weight-extra-bold: 800;

    /* font size */
    --font-smallest: calc(var(--size-base)*0.375); /* 6px */
    --font-xxs: calc(var(--size-base)*0.625); /* 10px */
    --font-xs: calc(var(--size-base)*0.75); /* 12px */
    --font-sm: calc(var(--size-base)*0.875); /* 14px */
    --font-base: var(--size-base); /* 16px */
    --font-md: calc(var(--size-base)*1.25); /* 20px */
    --font-lg: calc(var(--size-base)*1.5); /* 24px */
    --font-xl: calc(var(--size-base)*1.69); /* 27px */
    --font-xxl: calc(var(--size-base)*2); /* 32px */
    --font-mobile: calc(var(--size-base)*3); /* 48px */
    --font-largest: calc(var(--size-base)*4.06); /* 65px */

    /* line height */
    --height-smallest: 1.36;
    --height-xxs: 1.46;
    --height-xs: 1.5;
    --height-sm: 1.66;
    --height-md: 1.72;
    --height-lg: 1.75;
    --height-xl: 1.82;

    /* color */
    --black: #2A2A2A;
    --black-transparent: rgba(0, 0, 0, 0.45);
    --white: #FFFFFF;
    --red: #FD2016;
    --lightgray: #EFEFEF;
    --accent-gray: #B0B0B1;
    --darkgray: #929292;
    --green: #20C863;

    /* indent */
    --indent-1: calc(var(--size-base)*0.0625);
    --indent-2: calc(var(--size-base)*0.125);
    --indent-4: calc(var(--size-base)*0.25);
    --indent-6: calc(var(--size-base)*0.375);
    --indent-8: calc(var(--size-base)*0.5);
    --indent-10: calc(var(--size-base)*0.625);
    --indent-14: calc(var(--size-base)*0.875);
    --indent-16: var(--size-base);
    --indent-18: calc(var(--size-base)*1.125);
    --indent-20: calc(var(--size-base)*1.25);
    --indent-23: calc(var(--size-base)*1.4375);
    --indent-25: calc(var(--size-base)*1.5625);
    --indent-28: calc(var(--size-base)*1.75);
    --indent-32: calc(var(--size-base)*2);
    --indent-37: calc(var(--size-base)*2.3125);
    --indent-45: calc(var(--size-base)*2.8125);
    --indent-49: calc(var(--size-base)*3.0625);
    --indent-54: calc(var(--size-base)*3.375);
    --indent-57: calc(var(--size-base)*3.5625);
    --indent-81: calc(var(--size-base)*5.0625);
    --indent-115: calc(var(--size-base)*7.1875);
    --indent-124: calc(var(--size-base)*7.75);
    --indent-128: calc(var(--size-base)*8);
    --indent-169: calc(var(--size-base)*10.5625);

    /* width */
    --scrollbar-width: calc(var(--size-base)*8.75);
    --checkbox-icon-width: calc(var(--size-base)*0.375);
    --section-width: calc(var(--size-base)*102.8125);
    --hero-width: calc(var(--size-base)*96.875);
    --heading-width: calc(var(--size-base)*63.1875);
    --buttons-width: calc(var(--size-base)*51.375);
    --application-width: calc(var(--size-base)*31.25);
    --logo-width: calc(var(--size-base)*13.3125);
    --header-image-width: calc(var(--size-base)*2.1875);
    --header-icon-width: calc(var(--size-base)*0.75);
    --contacts-icon-width: calc(var(--size-base)*0.5625);
    --contacts-image-width: calc(var(--size-base)*0.375);
    --mouse-icon-width: calc(var(--size-base)*1.125);
    --button-primary-icon-width: calc(var(--size-base)*1.375);
    --button-secondary-icon-width: calc(var(--size-base)*1.875);
    --benefits-icon-width: calc(var(--size-base)*0.8125);
    --close-icon-width: calc(var(--size-base)*1.25);
    --logo-mobile-width: 5.75rem;
    --header-mobile-icon-width: 4.06rem;

    /* height */
    --scrollbar-height: calc(var(--size-base)*30.5);

    /* radius */
    --button-radius: calc(var(--size-base)*31.25);
    --checkbox-radius: calc(var(--size-base)*0.3125);
}

/**
 * Base styles
 */
* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-base);
    color: var(--black);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    line-height: inherit;
    font-size: inherit;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

em {
    font-style: normal;
}

a:hover, button:hover {
    opacity: 0.7;
}

/**
 * Layout
 */
.container {
    display: flex;
}

.container__scrollbar {
    max-width: var(--scrollbar-width);
    flex-grow: 1;
    align-self: flex-start;
}

.container__main {
    flex-grow: 1;
}

/**
 * Scrollbar
 */
.scrollbar {
    padding-top: var(--indent-169);
    text-align: center;
}

.scrollbar__caption {
    display: inline-block;
    font-size: var(--font-base);
    line-height: var(--height-xs);
    font-weight: var(--weight-bold);
    white-space: nowrap;
    color: var(--lightgray);
    transform: rotate(-90deg) translate(-65%, 0);
    margin-bottom: var(--indent-81);
}

.scrollbar__scale {
    width: var(--indent-2);
    height: var(--scrollbar-height);
    background: var(--lightgray);
    margin: var(--indent-37) auto;
}

.scrollbar__container {
    position: relative;
}

.scrollbar__image {
    margin: 0 auto;
    width: var(--mouse-icon-width);
}

.scrollbar__indicator {
    position: absolute;
    left: calc(50% - var(--indent-2));
    bottom: calc(var(--indent-18) + var(--indent-2));
    width: var(--indent-2);
    height: var(--indent-2);
    border: var(--indent-1) solid var(--red);
    border-radius: 50%;
    animation: scroll 2s infinite;
}

@keyframes scroll {
  from {transform: translateY(0);}
  to {transform: translateY(var(--indent-16));}
}

/**
 * Logo
 */
.logo {
    margin-right: var(--indent-23);
}

.logo__image {
    width: var(--logo-width);
}

/**
 * Header
 */
.header {
    font-size: var(--font-xs);
    line-height: var(--height-smallest);
    padding-right: var(--indent-16);
}

.header__section {
    display: flex;
    max-width: var(--section-width);
    padding: var(--indent-23) 0;
}

.header__section_top {
    align-items: center;
    line-height: var(--height-sm);
    border-bottom: var(--indent-1) solid var(--lightgray);
}

.header__group {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.header__item {
    display: flex;
    align-items: center;
    text-align: left;
}

.header__item_bold {
    font-weight: var(--weight-bold);
}

.header__icon {
    margin-right: var(--indent-10);
    width: var(--header-icon-width);
}

.header__image {
    width: var(--header-image-width);
}

.header__text {
    padding-bottom: var(--indent-4);
    position: relative;
}

.header__text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: var(--indent-2) dotted var(--red);
    transition: 0.3s;
}

.header__text:hover::after {
    width: 60%;
}

.header__socials {
    margin-left: var(--indent-6);
}

.header__socials:first-of-type {
    margin-left: var(--indent-18);
}

.header__navigation {
    flex-grow: 1;
}

.header__button {
    display: none;
}

/**
 * Map
 */
.map {
    position: relative;
}

.map__body {
    display: none;
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 1;
    padding-top: var(--indent-14);
    width: 300%;
    aspect-ratio: 1.25;
    cursor: pointer;
}

.map:hover > .map__body {
    display: block;
}

/**
 * Contacts
 */
.contacts {
    display: flex;
    flex-direction: column;
    margin-left: var(--indent-57);
}

.contacts__text {
    line-height: 1;
    display: inline-flex;
    align-items: center;
}

.contacts__text::before {
    content: '';
    width: var(--indent-4);
    height: var(--indent-4);
    background: var(--green);
    margin-right: var(--indent-6);
}

.contacts__icon {
    width: var(--contacts-icon-width);
}

.contacts__image {
    width: var(--contacts-image-width);
}

.contacts__phone {
    margin: var(--indent-6) 0;
    font-size: var(--font-md);
    font-weight: var(--weight-bold);
    display: flex;
    gap: var(--indent-4);
    align-items: center;
}

.contacts__button {
    display: flex;
    align-items: center;
    gap: var(--indent-6);
    margin: 0 auto;
}

/**
 * Socials
 */
.social__image {
    display: none;
}

.social__group {
    display: flex;
}

.social__container{
    display: flex;
}

.social__text_mobile {
    display: none;
}

.social__accent {
    font-weight: var(--weight-bold);
}

/**
 * Navigation
 */
.navigation {
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

.navigation__menu {
    display: flex;
    justify-content: space-between;
}

.navigation__group {
    display: none;
    margin-top: var(--indent-28);
    color: var(--darkgray);
    font-size: var(--font-xs);
    line-height: var(--height-xl);
    text-transform: initial;
}

/**
 * Hero
 */
.hero {
    color: var(--white);
    background-image: url("../assets/background.png");
    background-size: cover;
}

.hero_disabled {
    display: none;
}

.hero__content {
    padding-left: var(--indent-25);
    background: 
        linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%), 
        linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%);
}
.hero__container {
    margin: 0 auto;
    padding: var(--indent-128) var(--indent-25) 0 0;
    max-width: var(--hero-width);
} 

.hero__heading {
    font-size: var(--font-largest);
    line-height: var(--height-xxs);
    font-weight: var(--weight-bold);
    max-width: var(--heading-width);
}

.hero__accent {
    font-weight: var(--weight-extra-bold);
}

.hero__caption {
    display: inline-block;
    margin: var(--indent-45) 0;
    line-height: var(--height-sm);
    font-size: var(--font-xl);
}

.hero__buttons {
    max-width: var(--buttons-width);
    display: flex;
    gap: var(--indent-23);
}

/**
 * Button
 */
.button {
    font-size: var(--font-base);
    line-height: var(--height-xs);
    font-weight: var(--weight-regular);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--indent-25);
    border: var(--indent-1) solid transparent;
    width: 100%;
    border-radius: var(--button-radius);
    overflow: hidden;
    position: relative;
}

.button_primary {
    background: var(--red);
}

.button:not(:disabled)::after {
    content: '';
    position: absolute;
    left: 0;
    height: 200%;
    width: var(--indent-32);
    background: rgba(239, 239, 239, 0.5);
    animation: blick 3.5s infinite;
    transform: rotate(45deg);
}

@keyframes blick {
  from {left: 0;}
  to {left: 1000%;}
}

.button_primary .button__icon {
    margin-right: var(--indent-14);
    width: var(--button-primary-icon-width);
}

.button_primary:hover .button__icon {
    transform: rotate(45deg);
    transition: 0.5s;
}

.button_primary .button__text {
    max-width: 78%;
} 

.button_secondary {
    background: var(--black-transparent);
    border-color: var(--darkgray);
} 

.button_secondary .button__icon {
    margin-right: var(--indent-14);
    width: var(--button-secondary-icon-width);
}

.button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

/**
 * Benefits
 */
.benefits {
    display: flex;
    margin-top: var(--indent-124);
}

.benefits__item {
    flex-grow: 2;
    border-left: var(--indent-1) solid var(--darkgray);
    padding-bottom: var(--indent-32);
}

.benefits__item:last-of-type {
    flex-grow: 1;
}

.benefits__item:first-of-type {
    flex-grow: 1;
    border-left: none;
}

.benefits__text {
    width: fit-content;
    margin: 0 auto;
}

.benefits__item:first-of-type .benefits__text {
    margin-left: 0;
}

.benefits__item:last-of-type .benefits__text {
    margin-right: 0;
}

.benefits__text {
    line-height: var(--height-sm);
}

.benefits__accent {
    font-weight: var(--weight-extra-bold);
}

.benefits__icon {
    width: var(--benefits-icon-width);
    margin-bottom: var(--indent-18);
}

/**
 * Popup
 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;    
}

.popup_active {
    display: block;
}

.popup__container {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: var(--black);
    opacity: 0.7;
}

.popup__icon {
    width: var(--close-icon-width);
}

.popup__content {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: var(--indent-45);
}

.popup__button {
    position: absolute;
    right: var(--indent-37);
    top: var(--indent-37);
}

/**
 * Application
 */
.application {
    background: var(--black);
    color: var(--white);
    text-align: center;
    max-width: var(--application-width);
    width: 100%;
}

.application__group_disabled {
    display: none;
}

.application__heading {
    line-height: var(--height-smallest);
    font-weight: var(--weight-regular);
    font-size: var(--font-xxl);
    margin-bottom: var(--indent-16);
}

.application__text {
    line-height: var(--height-xs);
    margin-bottom: var(--indent-32);
}

.application__form {
    display: flex;
    flex-direction: column;
}

.application__tooltip {
    line-height: var(--height-smallest);
    font-size: var(--font-sm);
    margin-bottom: var(--indent-16);
}

.application__input {
    text-align: center;
    outline: none;
    border: none;
    border-radius: var(--button-radius);
    padding: var(--indent-25) var(--indent-45);
    color: var(--accent-gray);
    line-height: var(--height-xs);
    margin-bottom: var(--indent-25);
} 

.application__label {
    text-align: left;
    display: flex;
    align-items: center;
    gap: var(--indent-14);
    font-size: var(--font-sm);
    line-height: var(--height-smallest);
    margin-top: var(--indent-25);
    margin-bottom: var(--indent-32);
    cursor: pointer;
}

.application__label::before {
    content: '';
    width: var(--indent-20);
    height: var(--indent-20);
    background: var(--red);
    border-radius: var(--checkbox-radius);
}

.application__checkbox {
    display: none;
}

.application__checkbox:checked + .application__label:before {
    background-image: url('../assets/icons/checkbox.svg');
    background-repeat: no-repeat;
    background-size: var(--checkbox-icon-width);
    background-position: 50%;
}

.application__accent {
    color: var(--red);
}

.application__message {
    margin-top: var(--indent-45);
    display: none;
}

.application__message_active {
    display: block;
}

/**
 * Popup map
 */
.popup-map {
    width: 95%;
    height: 95%;
}

.popup-map__body {
    height: 100%;
    margin-top: var(--indent-45);
}

@media only screen and (max-width: 992px) {
    :root {
        --size-base: 1rem;
    }

    .scrollbar {
        display: none;
    }

    .container {
        background-image: url('../assets/background-mobile.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container__main {
        padding: 0 var(--indent-16);
        background: 
            linear-gradient(180deg, rgba(22, 26, 30, 0.75) 0%, rgba(22, 26, 30, 0.2925) 36.3%), 
            linear-gradient(270deg, rgba(22, 26, 30, 0) 0%, rgba(22, 26, 30, 0.6375) 79.17%);
    }

    .logo {
        margin-right: 0;
    }

    .header {
        padding-right: var(--indent-16);
        padding-left: var(--indent-16);
        margin: 0 -1rem;
        position: sticky;
        top: 0;
        background: rgba(22, 26, 30, 0.95);
    }

    .header__group {
        display: none;
    }

    .header__section_top {
        border-bottom: none;
        justify-content: space-between;
    }

    .header__section_bottom {
        display: none;
    }

    .header__button {
        display: block;
        fill: var(--white);
        cursor: pointer;
    }

    .header_mobile {
        background: var(--white);
        padding: 0 var(--indent-16);
        position: relative;
    }

    .header_mobile .header__button {
        fill: var(--black);
    }

    .header_mobile .contacts {
        color: var(--black);
    }

    .header_mobile .contacts__button {
        color: var(--black);
    }

    .header_mobile .header__section_bottom {
        display: flex;
        padding-bottom: var(--indent-37);
    }

    .header_mobile .header__group {
        position: absolute;
        bottom: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--indent-37);
        font-size: var(--font-sm);
        padding-bottom: var(--indent-32);
    }

    .header_mobile .header__item_summary {
        display: none;
    }

    .header_mobile .map {
        display: none;
    }

    .header_mobile .header__icon {
        margin-right: var(--indent-18);
        width: var(--header-mobile-icon-width);
    }

    .header_mobile .navigation__menu {
        flex-direction: column;
        gap: var(--indent-28);
        font-size: var(--font-base);
    }

    .header_mobile .navigation__group {
        display: block;
    }

    .header__text::after {
        display: none;
    }

    .header__item_bold {
        font-weight: var(--weight-regular);
    }

    .header__text-mobile {
        position: relative;
        display: block;
        width: fit-content;
        font-weight: var(--weight-bold);
    }

    .header__text-mobile::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: var(--indent-2) dotted var(--red);
        transition: 0.3s;
    }

    .header__text-mobile:hover::after {
        width: 60%;
    }

    .header__socials:first-of-type {
        margin-left: 0;
    }

    .social__text_mobile {
        display: block;
    }

    .social__image {
        display: block;
        align-self: baseline;
    }

    .social__group {
        flex-direction: column;
        gap: var(--indent-14);
    }

    .social__text_desktop {
        display: none;
    }

    .hero {
        background: none;
    }

    .hero__container {
        padding-top: var(--indent-32);
        padding-right: 0;
    }

    .hero__content {
        background: none;
        padding-left: 0;
    }

    .hero__heading {
        font-size: var(--font-mobile);
    }

    .address__city {
        display: none;
    }

    .address__accent {
        font-weight: var(--weight-extra-bold);
    }

    .contacts {
        margin-left: 0;
        color: var(--white);
    }

    .contacts__icon {
        display: none;
    }

    .contacts__button {
        color: var(--white);
    }

    .benefits {
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits__item {
        padding-left: var(--indent-8);
        padding-right: var(--indent-8);
        border-left: none;
    }

    .benefits__item:last-of-type .benefits__text {
        margin-right: auto;
    }

    .popup__content {
        background: var(--green);
    }
}

@media only screen and (max-width: 600px) {
    .header__button {
        width: var(--indent-16);
        height: var(--indent-16);
        margin-left: auto;
    }

    .logo__image {
        width: var(--logo-mobile-width);
    }

    .hero__container {
        padding-top: var(--indent-10);
    }

    .hero__heading {
        font-size: var(--font-md);
        max-width: 70%;
    }

    .hero__small {
        color: var(--green);
    }

    .hero__caption {
        margin: var(--indent-28) 0;
        font-size: var(--font-xs);
    }

    .hero__buttons {
        flex-direction: column;
    }

    .button__text {
        font-size: var(--font-xs);
    }

    .button__icon {
        display: none;
    }

    .contacts {
        margin: 0 auto;
    }

    .contacts__phone {
        font-size: var(--font-sm);
        margin: 0 auto;
    }

    .benefits {
        margin: var(--indent-49) -1rem 0;
        padding-top: var(--indent-16);
        background: var(--white);
        color: var(--black);
    }

    .benefits__item {
        width: 50%;
    }

    .benefits__item:nth-of-type(2) {
        order: 4;
    }

    .benefits__text {
        margin-left: 0;
    }

    .popup__content {
        padding: var(--indent-16);
    }

    .popup__button {
        right: var(--indent-16);
        top: var(--indent-16);
    }

    .application__heading {
        margin-top: var(--indent-32);
    }
}